
@{
    ViewBag.Title = "KullaniciKayitIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model Tuple<List<Categories>, List<Articles>>*@

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-12">-->
                <!-- breadcrumb-->
                <!--<nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">New account / Sign in</li>
                        </ol>
                    </nav>
                </div>-->
                <div class="col-lg-2"></div>

                <div class="col-lg-8">
                    <div class="box">
                        <h1>Yeni hesap</h1>
                        <p class="lead">Henüz üye olmadınız mı?</p>
                        <p>Bize üye olarak yazılım dünyasındaki gelişmelerden anında haberdar olun, bilgi edinin ve kendinizi geliştirin!</p>
                        <p class="text-muted">Eğer sorularınız varsa bizimle <a href="~/Iletisim/IletisimIndex">iletişime</a> geçin, üye servisimiz 7/24 sizin için hazır.</p>
                        <hr>
                        <form action="/Kullanici/KullaniciKayitIndex" method="post">
                            <div class="form-group">
                                <label for="name">İsim</label>
                                <input id="name" name="isimInput" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" name="emailInput" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Şifre</label>
                                <input id="password" name="sifreInput" type="password" class="form-control">
                            </div>
                            <div class="text-center">
                                <button type="submit" name="kayitButton" class="btn btn-primary"><i class="fa fa-user-md"></i> Kayıt ol</button>
                            </div>
                            <p class="text-center" style="color: red; font-size:20px; font-weight:bolder; justify-content:center">
                                @ViewBag.Message
                            </p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                @*<div class="col-lg-6">
                        <div class="box">
                            <h1>Login</h1>
                            <p class="lead">Already our customer?</p>
                            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            <hr>
                            <form action="customer-orders.html" method="post">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>

</div>