@model List<Categories>


@{
    ViewBag.Title = "ArticlesAdd";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <!--<div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                    <a href='~/AdminPanel/MakaleEkle' class='btn btn-block btn-success col-md-3'> Makale Ekle</a>
                </h1>
            </div>-->
    <!-- /.col -->
    <!--<div class="col-sm-6">

        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Makale Listesi</li>
        </ol>
    </div>-->
    <!-- /.col -->
    <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">

        <!-- general form elements disabled -->
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Makale Ekle</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action='~/Adminpanel/Articles/ArticlesAdd' method="post">
                    <div class="row">
                        <div class="col-sm-6">

                            <!-- text input -->
                            <div class="form-group">
                                <label>Başlık</label>
                                <input name="baslik" type="text" class="form-control" placeholder="Başlık">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Kategori</label>

                                <select name="category" class="form-control">
                                    <option>Seçiniz</option>

                                    @foreach (var item in Model)
                                    {
                                        <option>@item.CategoryName </option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">



                            <div  class="form-group">
                                <label>İçerik</label>
                               
                                    <textarea name="icerik" id="summernote" class="form-control" ></textarea>
                                
                            </div>


                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-12">

                            <div class="text-center">
                                <button type="submit" name="articleAddButton" class="btn btn-primary"> Makale ekle</button>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="text-center" style="color: red; font-size:20px; font-weight:bolder; justify-content:center">
                    @ViewBag.Message
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</section>
<script src="/Admin/plugins/jquery/jquery.min.js"></script>

@*Summernote*@


<script src="/Admin/plugins/summernote/summernote-bs4.min.js"></script>
<script>
    $(function () {
        // Summernote
        $('#summernote').summernote()


    })

</script>